/*-----------------------------
---- Mobile-Friendly CSS ------
-----------------------------*/


/* General Styles */

body {
    background-image: url('./public/img/bg-img.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    margin: 0 0;
    padding: 0 0;
}



/* NavBar Styles */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    width: 100%;
    background-color: rgba(215,234,228, 0.15);
    margin: 0 0;
}


.header__logo {
    font-size: 1.15em;
    padding-left: 5vw;
    font-family: 'Roboto Slab', serif;
}


.header__nav-menu {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
    font-size: 0.75em;
    padding-right: 5vw;
    display: none;
}


.header__nav-icon {
    padding-right: 5vw;
}

.header__nav-menu:first-of-type {
    animation: animatedMenu 1.5s ease forwards;
}





/* Landing Page Styles */

.main-container {
    padding-left: 5vw;
}


.main-container__heading {
    font-size: 2.25em;
    margin: 6vh 0 1.15vh;
    font-family: 'Roboto Slab', serif;
    color: #CE796B;
}


.main-container__description {
    font-size: 1.35em;
    padding-right: 40%;
    color: #D2D4C8;
    font-family: 'Comfortaa', cursive;
}


.main-container__button {
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    font-size: 1.25em;
    padding: 1.25vh 4.25vw;
    background-color: #FFD449;
    border-radius: 10px;
}



/* Keyframes */

@keyframes animatedMenu {
    0% {
        transform: translateX(-100%) scale(0);
    }
    50% {
        transform: translateX(-50%) scale (.5);
    }
    100% {
        transform: translateX(0%) scale(1);
    }
}