/*-----------------------------
---- Mobile-Friendly CSS ------
-----------------------------*/


/* General Styles */

body {
    background-image: url('./public/img/bg-img.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    margin: 0 0;
    padding: 0 0;
}



/* NavBar Styles */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    width: 100%;
    background-color: rgba(215,234,228, 0.05);
    margin: 0 0;
}


.subpage-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    width: 100%;
    background-color: #E0E0E0;
    margin: 0 0;
}


.header__logo {
    font-size: 1.5em;
    padding-left: 5vw;
    font-family: 'Roboto Slab', serif;
}


.logo__anchors {
    text-decoration: none;
    color: #4D4D4D;
}


.header__nav-menu {
    display: none;
    flex-direction: column;
    align-self: flex-end;
    font-family: 'Roboto Slab', serif;
    font-size: 0.85em;
    padding-right: 5vw;
}


.nav-menu__anchors {
    text-decoration: none;
    color: #4D4D4D;
}


.header__nav-icon {
    display: block;
    padding-right: 5vw;
}



/* Landing Page Styles */

.main-container {
    padding-left: 5vw;
}


.main-container__heading {
    font-size: 2.25em;
    margin: 6vh 0 1.15vh;
    font-family: 'Roboto Slab', serif;
    color: #CE796B;
}


.main-container__description {
    font-size: 1.35em;
    padding-right: 40%;
    color: #D2D4C8;
    font-family: 'Comfortaa', cursive;
}


.main-container__button {
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    font-size: 1.25em;
    padding: 1.25vh 4.25vw;
    background-color: #FFD449;
    border-radius: 10px;
}



/* Photography Page Styles */

.photos-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #E0E0E0;
    padding: 3vh 0;
}


.photography {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin-bottom: 5vh;
}


#foto-1 {
    height: 175px;
    width: 175px;
    background-image: url('./public/img/foto-1.jpg');
}


#foto-2 {
    height: 175px;
    width: 175px;
    background-image: url('./public/img/foto-2.jpg');
}


#foto-3 {
    height: 175px;
    width: 175px;
    background-image: url('./public/img/foto-3.jpg');
}


#foto-4 {
    height: 175px;
    width: 175px;
    background-image: url('./public/img/foto-4.jpg');
}


#foto-5 {
    height: 175px;
    width: 175px;
    background-image: url('./public/img/foto-5.jpg');
}


#foto-6 {
    height: 175px;
    width: 175px;
    background-image: url('./public/img/foto-6.jpg');
}


#foto-7 {
    height: 175px;
    width: 175px;
    background-image: url('./public/img/foto-7.jpg');
}


#foto-8 {
    height: 175px;
    width: 175px;
    background-image: url('./public/img/foto-8.jpg');
}


#foto-9 {
    height: 175px;
    width: 175px;
    background-image: url('./public/img/foto-9.jpg');
}


.pricing-container {
    background-color: #E0E0E0;
    min-height: 75vh;
}


.pricing-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #E0E0E0;
    padding: 5vh 0;
}


.pricing-list__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(217,204,230);
    background: linear-gradient(12deg, rgba(217,204,230,1) 0%, rgba(202,160,245,1) 100%);
    height: 330px;
    width: 240px;
    margin: 2.5vh 2vw;
    border-radius: 12.5px;
}


.photo-count {
    font-family: 'Comfortaa', cursive;
    margin-bottom: 1.25vh;
}

.photo-price {
    font-family: 'Comfortaa', cursive;
    font-size: 2.5em;
    position: relative;
}


.photo-price::after {
    content: "per photo";
    font-size: 0.3em;
    min-width: 200px;
    position: absolute;
    top: 40px;
    left: 40%;
}


/* Shared Subpage Styles */

.photos-container,
.pricing-container,
.reviews-container {
    background-color: #E0E0E0;
    padding: 5vh 0 0;
}


.photos-container__heading,
.pricing-container__heading,
.reviews-container__heading {
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 2.85em;
    text-align: center;
    margin-bottom: 2.25vh;
}


.photo-count,
.photo-price {
    margin-block-start: 0;
    margin-block-end: 0;
}



/* Keyframes */

@keyframes animatedMenuForward {
    0% {
        transform: translateY(-100%) scale(0);
    }
    50% {
        transform: translateY(-50%) scale (.5);
    }
    100% {
        transform: translateY(0%) scale(1);
    }
}


@keyframes revertMenuBack {
    0% {
        transform: translateY(0%) scale(1);
    }
    50% {
        transform: translateY(-50%) scale (.5);
    }
    100% {
        transform: translateY(-100%) scale(0);
    }
}



/*-----------------------------
---- Desktop-Friendly CSS ------
-----------------------------*/

@media (min-width: 990px) {

/* General Styles */

.nav-menu__close {
    display: none;
}


body {
    background-size: cover;
}



/* NavBar Styles */

.header {
    height: 20vh;
}


.subpage-header {
    height: 20vh;
}


.header__logo {
    font-size: 2.25em;
}


.header__nav-menu {
    display: flex;
    flex-direction: row;
    align-self: center;
    font-size: 2em;
}


.header__nav-menu:first-of-type {
    animation: none;
}


.header__nav-menu a {
    margin: 0 .85vw;
}


.header__nav-icon {
    display: none;
}



/* Landing Page Styles */

.main-container {
    margin: 18vh 0 0;
}


.main-container__heading {
    font-size: 6em;
}


.main-container__description {
    font-size: 2.25em;
}


.main-container__button {
    padding: 2.75vh 4vw;
    font-size: 2.15em;
}



/*  Subpage Styles */

.photos-container {
    background-color: #E0E0E0;
    padding: 5vh 0 0;
}

.photos-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #E0E0E0;
    padding: 3vh 0;
}


.photography {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin-bottom: 5vh;
}


.pricing-container {
    background-color: #E0E0E0;
    min-height: 75vh;
}


.pricing-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #E0E0E0;
    padding: 5vh 0;
}


.pricing-list__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(217,204,230);
    background: linear-gradient(12deg, rgba(217,204,230,1) 0%, rgba(202,160,245,1) 100%);
    height: 330px;
    width: 240px;
    margin: 0 2vw;
    border-radius: 12.5px;
}


.photo-count {
    font-family: 'Comfortaa', cursive;
    margin-bottom: 1.25vh;
}

.photo-price {
    font-family: 'Comfortaa', cursive;
    font-size: 2.5em;
    position: relative;
}


.photo-price::after {
    content: "per photo";
    font-size: 0.425em;
    min-width: 200px;
    position: absolute;
    top: 35px;
    left: 20%;
}


.reviews-container {
    background-color: #E0E0E0;
    min-height: 75vh;
}


.reviews-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.reviews-list__item {
    background-color: rgb(255,211,106);
}


#foto-1 {
    height: 400px;
    width: 400px;
    background-image: url('./public/img/foto-1.jpg');
}


#foto-2 {
    height: 400px;
    width: 400px;
    background-image: url('./public/img/foto-2.jpg');
}


#foto-3 {
    height: 400px;
    width: 400px;
    background-image: url('./public/img/foto-3.jpg');
}


#foto-4 {
    height: 400px;
    width: 400px;
    background-image: url('./public/img/foto-4.jpg');
}


#foto-5 {
    height: 400px;
    width: 400px;
    background-image: url('./public/img/foto-5.jpg');
}


#foto-6 {
    height: 400px;
    width: 400px;
    background-image: url('./public/img/foto-6.jpg');
}


#foto-7 {
    height: 400px;
    width: 400px;
    background-image: url('./public/img/foto-7.jpg');
}


#foto-8 {
    height: 400px;
    width: 400px;
    background-image: url('./public/img/foto-8.jpg');
}


#foto-9 {
    height: 400px;
    width: 400px;
    background-image: url('./public/img/foto-9.jpg');
}


/* Shared Subpage Styles */

.photos-container__heading,
.pricing-container__heading {
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 2.85em;
    text-align: center;
    margin-bottom: 2.25vh;
}


}