/* Importing star-shaped webfont */


@font-face {
    font-family: star-rating;
    src: url(data:application/x-font-ttf;base64,AAEAAAALAIAAAwAwT1MvMigiLIYAAAC8AAAAYGNtYXAmCyZNAAABHAAAAFRnYXNwAAAAEAAAAXAAAAAIZ2x5ZlNxiKoAAAF4AAABFGhlYWQBHDApAAACjAAAADZoaGVhA+IB6AAAAsQAAAAkaG10eAcAAAAAAALoAAAAHGxvY2EAjADoAAADBAAAABBtYXhwAAoAGAAAAxQAAAAgbmFtZYWP6p0AAAM0AAABaXBvc3QAAwAAAAAEoAAAACAAAwIAAZAABQAAAUwBZgAAAEcBTAFmAAAA9QAZAIQAAAAAAAAAAAAAAAAAAAABAAAgAAAAAAAAAAAAAAAAAABAAAAl0AHg/+D/4AHgACAAAAABAAAAAAAAAAAAAAAgAAAAAAACAAAAAwAAABQAAwABAAAAFAAEAEAAAAAMAAgAAgAEAAEAICXLJdD//f//AAAAAAAgJcslz//9//8AAf/j2jnaNgADAAEAAAAAAAAAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAACAAD/7QIAAdMACgAVAAABLwEPARcHNxcnNwUHNyc/AR8BBxcnAgCxT0+xgB6enh6A/wBwFlt9ODh9WxZwARkaoKAafLBTU7B8sjp8WBJxcRJYfDoAAAAAAQAA/+0CAAHTAAoAAAEvAQ8BFwc3Fyc3AgCxT0+xgB6enh6AARkaoKAafLBTU7B8AAAAAAIAAP/tAgAB0wAKABIAAAEvAQ8BFwc3Fyc3BTERHwEHFycCALFPT7GAHp6eHoD/ADh9WxZwARkaoKAafLBTU7B8sgEdcRJYfDoAAAABAAAAAQAA1qooUl8PPPUACwIAAAAAAM/+d7YAAAAAz/53tgAA/+0CAAHTAAAACAACAAAAAAAAAAEAAAHg/+AAAAIAAAAAAAIAAAEAAAAAAAAAAAAAAAAAAAAHAAAAAAAAAAAAAAAAAQAAAAIAAAACAAAAAgAAAAAAAAAACgAUAB4ASgBkAIoAAQAAAAcAFgACAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAA4ArgABAAAAAAABABYAAAABAAAAAAACAA4AYwABAAAAAAADABYALAABAAAAAAAEABYAcQABAAAAAAAFABYAFgABAAAAAAAGAAsAQgABAAAAAAAKADQAhwADAAEECQABABYAAAADAAEECQACAA4AYwADAAEECQADABYALAADAAEECQAEABYAcQADAAEECQAFABYAFgADAAEECQAGABYATQADAAEECQAKADQAhwBzAHQAYQByAC0AcgBhAHQAaQBuAGcAVgBlAHIAcwBpAG8AbgAgADEALgAwAHMAdABhAHIALQByAGEAdABpAG4AZ3N0YXItcmF0aW5nAHMAdABhAHIALQByAGEAdABpAG4AZwBSAGUAZwB1AGwAYQByAHMAdABhAHIALQByAGEAdABpAG4AZwBGAG8AbgB0ACAAZwBlAG4AZQByAGEAdABlAGQAIABiAHkAIABJAGMAbwBNAG8AbwBuAC4AAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==) format('truetype'),url(data:application/font-woff;base64,d09GRk9UVE8AAAUgAAoAAAAABNgAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAAA9AAAAWMAAAFjbsVsoU9TLzIAAAJYAAAAYAAAAGAoIiyGY21hcAAAArgAAABUAAAAVCYLJk1nYXNwAAADDAAAAAgAAAAIAAAAEGhlYWQAAAMUAAAANgAAADYBHDApaGhlYQAAA0wAAAAkAAAAJAPiAehobXR4AAADcAAAABwAAAAcBwAAAG1heHAAAAOMAAAABgAAAAYAB1AAbmFtZQAAA5QAAAFpAAABaYWP6p1wb3N0AAAFAAAAACAAAAAgAAMAAAEABAQAAQEBDHN0YXItcmF0aW5nAAECAAEAOvgcAvgbA/gYBB4KABlT/4uLHgoAGVP/i4sMB4tr+JT4dAUdAAAAjg8dAAAAkxEdAAAACR0AAAFaEgAIAQEMFxkbHiMoLXN0YXItcmF0aW5nc3Rhci1yYXRpbmd1MHUxdTIwdTI1Q0J1MjVDRnUyNUQwAAACAYkABQAHAQEEBwoNVn29/JQO/JQO/JQO+5QO+JT3rRX7RaU89zQ8+zT7RXH3FPsQbftE9zLe9zI4bfdE9xT3EAX7lPtGFfsEUaH3EDDj9xGdw/cFw/sF9xF5MDOh+xD7BMUFDviU960V+0WlPPc0PPs0+0Vx9xT7EG37RPcy3vcyOG33RPcU9xAFDviU960V+0WlPPc0PPs0+0Vx9xT7EG37RPcy3vcyOG33RPcU9xAF+5T7RhWLi4v3scP7BfcReTAzofsQ+wTFBQ74lBT4lBWLDAoAAAMCAAGQAAUAAAFMAWYAAABHAUwBZgAAAPUAGQCEAAAAAAAAAAAAAAAAAAAAAQAAIAAAAAAAAAAAAAAAAAAAQAAAJdAB4P/g/+AB4AAgAAAAAQAAAAAAAAAAAAAAIAAAAAAAAgAAAAMAAAAUAAMAAQAAABQABABAAAAADAAIAAIABAABACAlyyXQ//3//wAAAAAAICXLJc///f//AAH/49o52jYAAwABAAAAAAAAAAAAAAAAAAEAAf//AA8AAQAAAAEAAOJjA1tfDzz1AAsCAAAAAADP/ne2AAAAAM/+d7YAAP/tAgAB0wAAAAgAAgAAAAAAAAABAAAB4P/gAAACAAAAAAACAAABAAAAAAAAAAAAAAAAAAAABwAAAAAAAAAAAAAAAAEAAAACAAAAAgAAAAIAAAAAAFAAAAcAAAAAAA4ArgABAAAAAAABABYAAAABAAAAAAACAA4AYwABAAAAAAADABYALAABAAAAAAAEABYAcQABAAAAAAAFABYAFgABAAAAAAAGAAsAQgABAAAAAAAKADQAhwADAAEECQABABYAAAADAAEECQACAA4AYwADAAEECQADABYALAADAAEECQAEABYAcQADAAEECQAFABYAFgADAAEECQAGABYATQADAAEECQAKADQAhwBzAHQAYQByAC0AcgBhAHQAaQBuAGcAVgBlAHIAcwBpAG8AbgAgADEALgAwAHMAdABhAHIALQByAGEAdABpAG4AZ3N0YXItcmF0aW5nAHMAdABhAHIALQByAGEAdABpAG4AZwBSAGUAZwB1AGwAYQByAHMAdABhAHIALQByAGEAdABpAG4AZwBGAG8AbgB0ACAAZwBlAG4AZQByAGEAdABlAGQAIABiAHkAIABJAGMAbwBNAG8AbwBuAC4AAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==) format('woff');
    font-weight: normal;
    font-style: normal;
}



/*-----------------------------
---- Mobile-Friendly CSS ------
-----------------------------*/

/* General Styles */

body {
    background-image: url('./public/img/bg-img.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    margin: 0 0;
    padding: 0 0;
}



/* NavBar Styles */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    width: 100%;
    margin: 0 0;
    background-color: rgba(215,234,228, 0.05);
}


.subpage-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    width: 100%;
    margin: 0 0;
    background-color: #E0E0E0;
}


.header__logo {
    padding-left: 5vw;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
}


.logo__anchors {
    color: #4D4D4D;
    text-decoration: none;
}


.header__nav-menu {
    display: none;
    flex-direction: column;
    align-self: flex-end;
    padding-right: 5vw;
    font-family: 'Roboto Slab', serif;
    font-size: 0.85em;
}


.nav-menu__anchors {
    color: #4D4D4D;
    text-decoration: none;
}


.header__nav-icon {
    display: block;
    padding-right: 5vw;
}



/* Landing Page Styles */

.main-container {
    padding-left: 5vw;
}


.main-container__heading {
    margin: 6vh 0 1.15vh;
    color: #CE796B;
    font-family: 'Roboto Slab', serif;
    font-size: 2.25em;
}


.main-container__description {
    padding-right: 40%;
    color: #D2D4C8;
    font-family: 'Comfortaa', cursive;
    font-size: 1.35em;
}


.main-container__button {
    padding: 1.25vh 4.25vw;
    border-radius: 10px;
    background-color: #FFD449;
    font-family: 'Roboto Slab', serif;
    font-size: 1.25em;
    font-weight: 900;
}



/* Photography Page Styles */

.photos-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3vh 0;
    background-color: #E0E0E0;
}


.photography {
    margin-bottom: 5vh;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}


.pricing-container {
    min-height: 75vh;
    background-color: #E0E0E0;
}


.pricing-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5vh 0;
    background-color: #E0E0E0;
}


.pricing-list__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 330px;
    width: 240px;
    margin: 2.5vh 2vw;
    border-radius: 12.5px;
    background-color: #d7c6e8;
}


.pricing-list__item:hover {
    border: #a5cb7d 3.5px solid;
    background-color: #cbe1b4;
    transform: scale(1.15);
}


.pricing-list__item:hover span[class*="colored-dollar-sign"] {
    color: #a5cb7d;
    transition: color 1.15s ease;
}


.photo-count {
    margin-bottom: 1.25vh;
    font-family: 'Comfortaa', cursive;
}


.photo-price {
    position: relative;
    font-family: 'Comfortaa', cursive;
    font-size: 2.5em;
}


.photo-price::after {
    content: "per photo";
    position: absolute;
    top: 40px;
    left: 40%;
    min-width: 200px;
    font-size: 0.3em;
}


.photo-order {
    opacity: 0;
    margin: 3vh 0 0;
    padding: 1vh 2vw;
    border: none;
    border-radius: 5px;
    background-color: #a5cb7d;
    font-family: 'Comfortaa', cursive;
    font-size: 1.15em;
    font-weight: 600;
}


.pricing-list__item:hover .photo-order {
    opacity: 1;
    transition: opacity 1.15s ease;
}


.reviews-container {
    min-height: 75vh;
    padding-bottom: 4vh;
    background-color: #E0E0E0;
}


.reviews-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.reviews-list__item {
    width: 85%;
    margin: 3vh 1vw 0;
    border-radius: 10px;
    background-color: rgb(255,211,106);
}


.profile-pic::before {
    content: url('./public/img/profile-pic.svg');
    height: 50px;
    width: 50px;
    float: left;
    padding-top: 1.75vh;
    padding-left: 2.5vw;
}


.review-item__heading {
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 1.75vh 2.5vw 0.5vh;
    font-family: 'Roboto Slab', serif;
    font-size: 1.35em;
}


.review-item__stars {
    font-family: star-rating;
    font-size: 1.5em;
    color: white;
    letter-spacing: 0.5vw;
}


.review-item__text {
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 2vh 4vw 3.25vh;
    font-family: 'Comfortaa', cursive;
    font-size: 0.8em;
}


.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 75vh;
    background-color: #E0E0E0;
}


.portrait {
    align-self: center;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}


.contact-info {
    position: relative;
    min-height: 30vh;
    margin: 7.5vh 8vw 2.75vh;
    background-color: #d7c6e8;
}


.contact-info__name {
    position: absolute;
    top: -25px;
    left: 40px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 1vh 12vw 1vh;
    background-color: #a5cb7d;
    font-family: 'Roboto Slab', serif;
    font-size: 1.55em;
    text-align: center;
}


.contact-info__name h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}


.contact-info__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 7vh 0 1vh;
}


.contact-info__icons img {
    align-self: center;
}


.contact-info__text {
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 2vh 10vw 5vh;
    font-family: 'Comfortaa', cursive;
    font-size: 1em;
}


.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.contact-form__line,
.contact-form__textarea {
    margin: 0.75vh 11vw;
    padding: 0.5vh 0;
    border: solid 1px rgb(255,211,106);
}


.contact-form__line::placeholder,
.contact-form__textarea::placeholder {
    padding-left: 1.75vw;
    font-family: 'Comfortaa', cursive;
}


/* Shared Subpage Styles */

.photos-container,
.pricing-container {
    padding: 5vh 0 0;
    background-color: #E0E0E0;
}


.photos-container__heading,
.pricing-container__heading,
.reviews-container__heading {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 2.25vh;
    font-family: 'Roboto Slab', serif;
    font-size: 2.85em;
    text-align: center;
}


.photo-count,
.photo-price {
    margin-block-start: 0;
    margin-block-end: 0;
}


/* Photos for Photo Subpage */


#foto-1 {
    height: 175px;
    width: 175px;
    background-image: url('./public/img/foto-1.jpg');
}


#foto-2 {
    height: 175px;
    width: 175px;
    background-image: url('./public/img/foto-2.jpg');
}


#foto-3 {
    height: 175px;
    width: 175px;
    background-image: url('./public/img/foto-3.jpg');
}


#foto-4 {
    height: 175px;
    width: 175px;
    background-image: url('./public/img/foto-4.jpg');
}


#foto-5 {
    height: 175px;
    width: 175px;
    background-image: url('./public/img/foto-5.jpg');
}


#foto-6 {
    height: 175px;
    width: 175px;
    background-image: url('./public/img/foto-6.jpg');
}


#foto-7 {
    height: 175px;
    width: 175px;
    background-image: url('./public/img/foto-7.jpg');
}


#foto-8 {
    height: 175px;
    width: 175px;
    background-image: url('./public/img/foto-8.jpg');
}


#foto-9 {
    height: 175px;
    width: 175px;
    background-image: url('./public/img/foto-9.jpg');
}


#foto-10 {
    height: 325px;
    width: 325px;
    background-image: url('./public/img/foto-10.jpg');
}



/* Keyframes */

@keyframes animatedMenuForward {
    0% {
        transform: translateY(-100%) scale(0);
    }
    50% {
        transform: translateY(-50%) scale (.5);
    }
    100% {
        transform: translateY(0%) scale(1);
    }
}


@keyframes revertMenuBack {
    0% {
        transform: translateY(0%) scale(1);
    }
    50% {
        transform: translateY(-50%) scale (.5);
    }
    100% {
        transform: translateY(-100%) scale(0);
    }
}



/*-----------------------------
---- Desktop-Friendly CSS ------
-----------------------------*/

@media (min-width: 990px) {

/* General Styles */

.nav-menu__close {
    display: none;
}


body {
    background-size: cover;
}



/* NavBar Styles */

.header {
    height: 20vh;
}


.subpage-header {
    height: 20vh;
}


.header__logo {
    font-size: 2.25em;
}


.header__nav-menu {
    display: flex;
    flex-direction: row;
    align-self: center;
    font-size: 2em;
}


.header__nav-menu:first-of-type {
    animation: none;
}


.header__nav-menu a {
    margin: 0 .85vw;
}


.header__nav-icon {
    display: none;
}



/* Landing Page Styles */

.main-container {
    margin: 18vh 0 0;
}


.main-container__heading {
    font-size: 6em;
}


.main-container__description {
    font-size: 2.25em;
}


.main-container__button {
    padding: 2.75vh 4vw;
    font-size: 2.15em;
}



/*  Subpage Styles */

.photos-container {
    padding: 5vh 0 0;
    background-color: #E0E0E0;
}

.photos-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3vh 0;
    background-color: #E0E0E0;
}


.photography {
    margin-bottom: 5vh;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}


.pricing-container {
    min-height: 75vh;
    background-color: #E0E0E0;
}


.pricing-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5vh 0;
    background-color: #E0E0E0;
}


.pricing-list__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 330px;
    width: 240px;
    margin: 0 2vw;
    border-radius: 12.5px;
    background-color: #d7c6e8;
    transition: transform 1.05s ease, background-color 1.05s ease, border 1.05s ease;
}


.pricing-list__item:hover {
    border: #a5cb7d 3.5px solid;
    background-color: #cbe1b4;
    transform: scale(1.15);
}


.pricing-list__item:hover span[class*="colored-dollar-sign"] {
    color: #a5cb7d;
    transition: color 1.15s ease;
}


.photo-count {
    margin-bottom: 1.25vh;
    font-family: 'Comfortaa', cursive;
}

.photo-price {
    position: relative;
    font-family: 'Comfortaa', cursive;
    font-size: 2.5em;
}


.photo-price::after {
    content: "per photo";
    position: absolute;
    top: 35px;
    left: 20%;
    min-width: 200px;
    font-size: 0.425em;
}


.photo-order {
    opacity: 0;
    margin: 3vh 0 0;
    padding: 1vh 2vw;
    border: none;
    border-radius: 5px;
    background-color: #a5cb7d;
    font-family: 'Comfortaa', cursive;
    font-size: 1.15em;
    font-weight: 600;
}


.pricing-list__item:hover .photo-order {
    opacity: 1;
    transition: opacity 1.15s ease;
}


.reviews-container {
    min-height: 75vh;
    background-color: #E0E0E0;
}


.reviews-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.reviews-list__item {
    width: 40%;
    margin: 2vh 1vw;
    border-radius: 10px;
    background-color: rgb(255,211,106);
}


.review-item__heading {
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 1.75vh 2.5vw 0;
    font-family: 'Roboto Slab', serif;
    font-size: 2.15em;
}


.profile-pic::before {
    content: url('./public/img/profile-pic.svg');
    height: 75px;
    width: 75px;
    float: left;
    padding-top: 1.75vh;
    padding-left: 2.5vw;
}


.review-item__stars {
    color: white;
    font-family: star-rating;
    font-size: 2em;
}


.review-item__text {
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 3.25vh 2.5vw;
    font-family: 'Comfortaa', cursive;
    font-size: 1.25em;
}


.contact-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 0.1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-height: 50vh;
    background-color: #E0E0E0;
}


.portrait {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    z-index: 2;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}


.contact-info {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
    margin: 9vh 0 18vh;
    background-color: #d7c6e8;
}


.contact-info__name {
    position: absolute;
    top: -20px;
    left: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 1vh 2vw 1vh;
    background-color: #a5cb7d;
    font-family: 'Roboto Slab', serif;
    font-size: 1.3em;
    text-align: center;
}


.contact-info__name h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}


.contact-info__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 7vh 0 1vh;
}


.contact-info__icons img {
    align-self: center;
}


.contact-info__text {
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 2vh 3vw 5vh;
    font-family: 'Comfortaa', cursive;
    font-size: 1em;
}


.contact-form {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    margin: -15vh 0 5vh;
}


.contact-form__line,
.contact-form__textarea {
    margin: 0 0;
}


/* Photos for Photo Subpage */

#foto-1 {
    height: 400px;
    width: 400px;
    background-image: url('./public/img/foto-1.jpg');
}


#foto-2 {
    height: 400px;
    width: 400px;
    background-image: url('./public/img/foto-2.jpg');
}


#foto-3 {
    height: 400px;
    width: 400px;
    background-image: url('./public/img/foto-3.jpg');
}


#foto-4 {
    height: 400px;
    width: 400px;
    background-image: url('./public/img/foto-4.jpg');
}


#foto-5 {
    height: 400px;
    width: 400px;
    background-image: url('./public/img/foto-5.jpg');
}


#foto-6 {
    height: 400px;
    width: 400px;
    background-image: url('./public/img/foto-6.jpg');
}


#foto-7 {
    height: 400px;
    width: 400px;
    background-image: url('./public/img/foto-7.jpg');
}


#foto-8 {
    height: 400px;
    width: 400px;
    background-image: url('./public/img/foto-8.jpg');
}


#foto-9 {
    height: 400px;
    width: 400px;
    background-image: url('./public/img/foto-9.jpg');
}


#foto-10 {
    height: 475px;
    width: 475px;
    background-image: url('./public/img/foto-10.jpg');
}


/* Shared Subpage Styles */

.photos-container__heading,
.pricing-container__heading {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 2.25vh;
    font-family: 'Roboto Slab', serif;
    font-size: 2.85em;
    text-align: center;
}


}