/*-----------------------------
---- Mobile-Friendly CSS ------
-----------------------------*/


/* General Styles */

body {
    background-image: url('./public/img/bg-img.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    margin: 0 0;
    padding: 0 0;
}



/* NavBar Styles */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    width: 100%;
    background-color: rgba(215,234,228, 0.05);
    margin: 0 0;
}


.header__logo {
    font-size: 1.5em;
    padding-left: 5vw;
    font-family: 'Roboto Slab', serif;
}


.header__nav-menu {
    display: none;
    flex-direction: column;
    align-self: flex-end;
    font-family: 'Roboto Slab', serif;
    font-size: 0.75em;
    padding-right: 5vw;
}



.header__nav-icon {
    display: block;
    padding-right: 5vw;
}



/* Landing Page Styles */

.main-container {
    padding-left: 5vw;
}


.main-container__heading {
    font-size: 2.25em;
    margin: 6vh 0 1.15vh;
    font-family: 'Roboto Slab', serif;
    color: #CE796B;
}


.main-container__description {
    font-size: 1.35em;
    padding-right: 40%;
    color: #D2D4C8;
    font-family: 'Comfortaa', cursive;
}


.main-container__button {
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    font-size: 1.25em;
    padding: 1.25vh 4.25vw;
    background-color: #FFD449;
    border-radius: 10px;
}



/* Keyframes */

@keyframes animatedMenuForward {
    0% {
        transform: translateX(-100%) scale(0);
    }
    50% {
        transform: translateX(-50%) scale (.5);
    }
    100% {
        transform: translateX(0%) scale(1);
    }
}


@keyframes revertMenuBack {
    0% {
        transform: translateX(0%) scale(1);
    }
    50% {
        transform: translateX(-50%) scale (.5);
    }
    100% {
        transform: translateX(-100%) scale(0);
    }
}



/*-----------------------------
---- Mobile-Friendly CSS ------
-----------------------------*/

@media (min-width: 990px) {

/* General Styles */

.nav-menu__close {
    display: none;
}


body {
    background-size: cover;
}



/* NavBar Styles */

.header {
    height: 20vh;
}


.header__logo {
    font-size: 2.25em;
}


.header__nav-menu {
    display: flex;
    flex-direction: row;
    align-self: center;
    font-size: 2em;
}


.header__nav-menu:first-of-type {
    animation: none;
}


.header__nav-menu a {
    margin: 0 .85vw;
}


.header__nav-icon {
    display: none;
}



/* Landing Page Styles */

.main-container {
    margin: 18vh 0 0;
}


.main-container__heading {
    font-size: 6em;
}


.main-container__description {
    font-size: 2.25em;
}


.main-container__button {
    padding: 2.75vh 4vw;
    font-size: 2.15em;
}


}